.white{
    color: #FDFFFC;
}
.blue{
    color: #0197F6;
}
.navbar{
    position: fixed !important;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent !important;
    transition: 0.3s all ease-in-out;
    z-index: 100;
}
.nav-shown{
    background-color: #171F30 !important;
    box-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
.navbar li{
    padding: 10px;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    background-color: rgba(255,255,255,0.2);;
}
#intro{
    display: flex;
    background-image: url('../imgs/intro.png');
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#intro h1{
    font-size: 5rem;
    margin-bottom: 10px;
}
#intro h2{
    font-weight: 400;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#who{
    display: flex;
    flex-direction: column;
}
.vid-par{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.para{
    max-width: 40%;
    text-align: justify;
}
.vid-par h1{
    text-align: center;
}
.btns{
    text-align: center;
}
.facebook iframe{
    margin-top: 200px;
}
.para{
    display: flex;
    flex-direction: column;
}
.para .btn{
    max-width: 200px;
    align-self: center;
    margin-top: 50px;
}
#event{
    background-color: #4C4C4C;
    display: grid;
    grid-template-columns: auto auto auto;
    /* justify-content: space-evenly; */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 120px;
}
.event{
    display: flex;
    flex-direction: column;
    background-color: #555555;
    justify-content: space-between;
}
.event-head{
    max-height: 231px;
    overflow: hidden;
}
.event-head img{
    width: 100%;
}
.event-body{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}
.event-body h4{
    font-size: 1rem;
}
.event-footer{
    background-color: #0197F6;
    color: white;
    text-align: center;
    justify-self: flex-end;
    align-self: flex-end;
    width: 100%;
    padding: 8px;
    font-size: 0.8rem;
    border-radius: 0 0 5px 5px;
}
#hack{
    background-image: url('../imgs//background.jpg');
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 100px;
    font-weight: 100;
    font-size: 1.1rem;
}
#hack img{
    width: 540px;
    height: 540px;
}
.code{
    justify-self: center;
    align-self: center;
    color: white;
    text-align: center;
}
.hr{
    border: 1px solid white;
    margin: 10px;
    background-color: white;
}
.code h4{
    font-weight: 100;
    font-size: 2.5rem;
}
.wbtn{
    background-color: #92278F;
    color: white;
    font-size: 1.1rem;
    padding: 8px;
    font-weight: 400;
    -webkit-clip-path:polygon(11% 0, 85% 6%, 98% 95%, 5% 85%);
    clip-path: polygon(11% 0, 85% 6%, 98% 95%, 5% 85%);
    border-radius:none !important;
    display: inline-block;
    width:200px;
    transition: 0.3s all ease-in-out;
}
.wbtn:hover{
    color: white;
    text-decoration: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#cont{
    display: grid;
    grid-template-columns: auto 430px;
}
.info{
    background-color: #333745;
    color: white;
    padding: 100px;
}
.direct{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-between
}
.piece{
    display: grid;
    grid-template-rows: 60px 100px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.piece img{
    margin: 0 auto;
}
.info h2{
    text-align: center;
    border: 1px solid white;
    width: 400px;
    margin: 0 auto 20px auto;
    padding: 20px 0;
    border-radius: 40px;
}
.form{
    background-color: #0197F6;
    padding: 100px 10px 30px 10px;
    text-align: center;
    color: white;
}
.form form{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}
#subject, #msg{
    grid-column: 1 / 3;
}
#send{
    grid-column: 1 / 3;
    width: 200px;
    margin: 10px auto;
    border-radius: 24px;
}
.social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social .btn{
    margin: 5px;
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 30px 10px 30px;
    border-top: 1px solid white;
}
footer img{
    width: 35px;
}
/*
    have you noticed that this code is too long?
    You don't notice this with laravel because files are not that big since code is devided.
*/
